# path:   /home/klassiker/.local/share/repos/dmenu/.gitignore
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/dmenu
# date:   2021-01-15T13:31:43+0100

/scripts/data/bookmarks
/scripts/data/youtube
/config.h
/dmenu
/dmenu.o
/drw.o
/stest
/stest.o
/util.o
