# path:   /home/klassiker/.local/share/repos/dmenu/.gitignore
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/dmenu
# date:   2025-08-09T06:03:30+0200

/scripts/data/bookmarks
/scripts/data/youtube
/config.h
/dmenu
/dmenu.o
/drw.o
/stest
/stest.o
/util.o
